/* Body */
body {
padding-top: 60px;
}

/*Links */

a {
color:#db3300;
text-overflow: ellipsis;

}
a:hover {
color:#a03300;
}

li {
overflow: hidden;
}
/* Top Navigation */

.topbar-inner, .topbar .fill {
background: #f00;
background-image: -khtml-gradient(linear, left top, left bottom, from(#f00), to(#DB3300));
background-image: -moz-linear-gradient(top, #f00, #DB3300);
background-image: -ms-linear-gradient(top, #f00, #DB3300);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f00), color-stop(100%, #DB3300));
background-image: -webkit-linear-gradient(top, #f00, #DB3300);
background-image: -o-linear-gradient(top, #f00, #DB3300);
background-image: linear-gradient(top, #f00, #DB3300);
filter: progid:DXImageTransform.Microsoft.
}

.topbar a {
color: #fff;
}

ul.login {
float: right;
}


.topbar a:hover {
background-color: #DB3300;
}

.topbar h3 a:hover, .topbar .brand {
text-decoration: none;
}

/* Media Grid */
.media-grid a:hover {
border-color: #db3300;
}

.media-grid li {
vertical-align: middle;
}

.media-grid a{
height: 90px;
width: 90px;
overflow: hidden;
}

.media-grid a img{
text-align: center;
margin: auto;
}

/* Lists */

#list-description{
color: #ccc;
font-size: 20px;
line-height: 20px;
margin-bottom: 1.5em;	
}

.panel a.delete {
float: right;
margin-right: 10px;
}

#wishlist .item {
padding-bottom: 1.3em;
border-bottom: 1px solid #eee;
margin-bottom: 0.8em;
}
#wishlist .item h2{
color: #DB3300;
line-height: 20px;
}

/*Form di modifica*/
.modal-body .image {
float: right;
}

.modal form {
margin-bottom: 0;
}

.modal form input {
height: 28px;
}

.booked {
background-color: #EEDC94;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
background-image: -o-linear-gradient(top, #fceec1, #eedc94);
background-image: linear-gradient(top, #fceec1, #eedc94);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
}

/*URL Check */
div#shorturl div.modal-body div.input span#tick{
    display:none;
}
div#shorturl div.modal-body div.input span#cross{
    display:none;
}


/* form di login */

.form-stacked {
padding-left: 0;
}
/* Lista */
.item h2 {
margin-bottom: 0.8em;
}

/* Footer */
footer p{
text-align: center;
}